.sidebar.active .nav_list-item:hover{
    background-color: #EBECF0;
    border-radius: 6px;
    cursor: pointer;
}
.sidebar .nav_list .nav_list-item:hover .btn-right{
    display: block;
    cursor: pointer;
}
#buttonside:hover{
    cursor: pointer;
}