* {
    padding: 0;   
    margin: 0; 
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color:#F7CC4B;;
}
.header .brand{
    display: flex;
    align-items: center;
    margin: 13px 0 13px 20px;
}
.header .brand .brand-logo{
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.header .brand .brand-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #D63447;
    margin: 0;
}
.header .info{
    display: flex;
    align-items: center;
}
.header .info .info__name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #16697A;
    margin: 0 10px 0 0;
}
.header .info .info__btn-logout{
    height: 100%;
    width: 50px;
    background-color:#16697A;
    border: none;
}
.grid-container {
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    transition: 1s ease;
  }
.sidebar{
    width: 26%;
    height: 91vh;
    background-color: #FAFBFC;
    transition: 1s ease;
    position: relative;
    border-right: 1px solid #C4C4C4;
}
.main-content {
    width: 70%;
    height: 100%;
    background-color: #FFF;
    transition: 1s ease;
  }
.sidebar_small {
    width: 10%;
}
.main-content_large {
    width: 90%;
  }
.sidebar button {
    position: absolute;
    border: 1px solid #C4C4C4;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    left: 100%;
    top: 2rem;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: #FFF;
  }
.sidebar .main_menu-brand{
    display: flex;
    padding: 20px;
    align-items: center;
}
.sidebar .main_menu-brand svg{
    margin-right: 10px;
}
.sidebar .main_menu-brand h4{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #3A3D40;
    margin: 0;
}
.sidebar .main_menu-content .nav_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
    padding: 18px;
}
.sidebar .main_menu-content .nav_link .nav_link-content{
    display: flex;
    align-items: center;
}
.sidebar .main_menu-content .nav_link h4{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #3A3D40;
    margin: 0 0 0 8px;
}