* {
    padding: 0;   
    margin: 0; 
    border: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color:#F7CC4B;;
}
.header .brand{
    display: flex;
    align-items: center;
    margin: 13px 0 13px 20px;
}
.header .brand .brand-logo{
    width: 60px;
    height: 60px;
    margin-right: 12px;
}
.header .brand .brand-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #D63447;
    margin: 0;
}
.header .info{
    display: flex;
    align-items: center;
}
.header .info .info__name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #16697A;
    margin: 0 10px 0 0;
}
.header .info .info__btn-logout{
    height: 100%;
    width: 50px;
    background-color:#16697A;
    border: none;
}
.sidebar{
    position: fixed;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #FAFBFC ;
    border-right: 1px solid #C4C4C4;
    transition: all 1s ease;
}
#buttonside{
    position:absolute;
    right: -14px;
    top: 18px;
}
.sidebar.active{
    width: 350px;
}
.sidebar .sidebar_brand{
    opacity: 0;
}
.sidebar.active .sidebar_brand{
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    padding: 20px;
}
.sidebar .sidebar_brand svg{
    margin-right: 10px;
}
.sidebar .sidebar_brand h4{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #3A3D40;
}
.sidebar .nav_list{
    list-style: none;
}
.sidebar.active .nav_list-item{
    position: relative;
    display: flex;
    align-items: center;   
    justify-content: space-between;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    padding: 18px;
    margin: 0 8px;
}

.sidebar .nav_list-item{
    opacity: 0;
}
.sidebar .nav_list a{
    text-decoration: none;
    display: flex;
    align-items: center;    
}
.sidebar .nav_list .link_name{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin-left: 10px;
}
.sidebar .nav_list .btn-right{
    display: none;
}